<div class="page-center">
  <div class="form-container">

    <h2>Add Employee</h2>

    <mat-horizontal-stepper linear #stepper>

<!-- STEP 1-->
      <mat-step [stepControl]="basicForm">
        <form [formGroup]="basicForm">

<!-- NAME -->
          <div class="field">
            <input placeholder="Enter Name" formControlName="name">
            <div class="error" *ngIf="basicForm.get('name')?.invalid">
              Please enter name
            </div>
          </div>

<!-- EMAIL -->
          <div class="field">
            <input placeholder="Enter Email" formControlName="email">
            <div class="error" *ngIf="basicForm.get('email')?.invalid">
              Please enter valid email
            </div>
          </div>

<!-- PHONE -->
          <div class="field">
            <input placeholder="Enter Phone" formControlName="phone">
            <div class="error" *ngIf="basicForm.get('phone')?.invalid">
              Please enter valid phone number
            </div>
          </div>

<!-- ADDRESS -->
          <div class="field">
            <input placeholder="Enter Address" formControlName="address">
            <div class="error" *ngIf="basicForm.get('address')?.invalid">
              Please enter address
            </div>
          </div>

 <!-- STATE -->
          <div class="field">
            <select formControlName="state" (change)="onStateChange()">
              <option value="">Select State</option>
              <option *ngFor="let s of states" [value]="s.name">
                {{ s.name }}
              </option>
            </select>
            <div class="error" *ngIf="basicForm.get('state')?.invalid">
              Please select state
            </div>
          </div>

<!-- CITY -->
          <div class="field">
            <select formControlName="city">
              <option value="">Select City</option>
              <option *ngFor="let c of cities" [value]="c">
                {{ c }}
              </option>
            </select>
            <div class="error" *ngIf="basicForm.get('city')?.invalid">
              Please select city
            </div>
          </div>

<!-- ZIP -->
          <div class="field">
            <input placeholder="Enter Zip Code" formControlName="zip">
            <div class="error" *ngIf="basicForm.get('zip')?.invalid">
              Please enter zip code
            </div>
          </div>
          
<div style="margin-top: 10px;">
  <label>Upload Profile Image</label>
  <input type="file" (change)="onFileChange($event)">
</div>
<!-- NEXT -->
          <div class="btn-group">
            <button mat-raised-button 
              (click)="goNext(stepper)">
              Next
            </button>
          </div>

        </form>
      </mat-step>

<!-- STEP 2  -->
      <mat-step [stepControl]="techForm">
        <form [formGroup]="techForm">

<!-- ROLE -->
          <div class="field">
            <select formControlName="role">
              <option value="">Select Role</option>
              <option *ngFor="let r of roles" [value]="r">
                {{ r }}
              </option>
            </select>
            <div class="error" *ngIf="techForm.get('role')?.invalid">
              Please select role
            </div>
          </div>

<!-- SHIFT -->
          <div class="field">
            <select formControlName="shift">
              <option value="">Select Shift</option>
              <option value="AM">AM</option>
              <option value="PM">PM</option>
            </select>
            <div class="error" *ngIf="techForm.get('shift')?.invalid">
              Please select shift
            </div>
          </div>

<!-- PROJECTS -->
          <div class="field">
            <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Projects</mat-label>

    <mat-select formControlName="projects" multiple>

      <mat-option *ngFor="let p of projectsList" [value]="p">
        {{ p }}
      </mat-option>

    </mat-select>

    <mat-error *ngIf="techForm.get('projects')?.invalid">
      Please select projects
    </mat-error>

  </mat-form-field>

</div>  


<!-- MANAGERS -->
          <div class="field">
             <mat-form-field appearance="outline" class="full-width">
    <mat-label>Managers</mat-label>

    <mat-select formControlName="managers" multiple>

      <mat-option *ngFor="let m of managersList" [value]="m">
        {{ m }}
      </mat-option>

    </mat-select>

    <mat-error *ngIf="techForm.get('managers')?.invalid">
      Please select managers
    </mat-error>

  </mat-form-field>

</div>

 <!-- BUTTONS -->
          <div class="btn-group">
            <button mat-button matStepperPrevious>Back</button>

            <button mat-raised-button color="primary"
              (click)="onSubmit()"
              [disabled]="techForm.invalid">
              Submit
            </button>
          </div>

        </form>
      </mat-step>

    </mat-horizontal-stepper>

  </div>
</div>
