.form-container {
  max-width: 500px;
  margin: auto;
  padding: 25px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}
.h2 {
    text-align: center;
    color: #1976d2;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.2s;
}

input:focus, select:focus {
  border-color: #1976d2;
  box-shadow: 0 0 5px rgba(25, 118, 210, 0.2);
}

.error {
  color: red;
  font-size: 12px;
  margin-top: -5px;
}

/*Button Group*/
.btn-group {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

/*Save button*/

button[type="submit"] {
  flex: 1;
  background: linear-gradient(135deg, lightseagreen);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
}

/*Hover effect*/
button[type="submit"]:hover {
  background: linear-gradient(135deg, lightseagreen);
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(25, 118, 210, 0.3);
}

/*Click effect*/
button[type="submit"]:active {
  transform: scale(0.97);
}

/*Cancel button*/
.cancel-btn {
  flex: 1;
  background:brown;
  color:white;
   border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
}

/* Cancel Hover */
.cancel-btn:hover {
  background: brown;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.cancel-btn:active {
  transform: scale(0.97);
}
/*Responsiveness(tablet)*/

@media screen and (max-width: 1024px) {
  .form-container {
    max-width: 80%;
    padding: 20px;
  }
}

/*Responsiveness(Mobiles)*/

@media screen and (max-width: 768px) {
  .form-container {
    max-width: 95%;
    padding: 18px;
  }

  input,
  select {
    font-size: 14px;
    padding: 9px;
  }

  .btn-group {
    flex-direction: column;
  }

  button[type="submit"],
  .cancel-btn {
    width: 100%;
  }
}


@media screen and (max-width: 480px) {
  .form-container {
    padding: 15px;
    border-radius: 10px;
  }

  input,
  select {
    font-size: 13px;
    padding: 8px;
  }

  .error {
    font-size: 11px;
  }

  button[type="submit"],
  .cancel-btn {
    font-size: 14px;
    padding: 9px;
  }
}