<div class="dashboard-container">

<!-- Side bar --> 
  <div class="sidebar" [class.open]="isSidebarOpen">
    <h2 class="logo">ADMIN USER</h2>

    <ul>
      <li 
        (click)="setView('dashboard')" 
        [class.active]="activeView === 'dashboard'">
            <span class="material-icons">dashboard</span>
    <span>Dashboard</span>
      </li>

      <li 
        (click)="setView('employees')" 
        [class.active]="activeView === 'employees'">
            <span class="material-icons">people</span>
                <span>Employees</span>

      </li>

      <li (click)="setView('projects')"
          [class.active]="activeView === 'projects'">
          <span class="material-icons">settings</span>
           <span>Projects</span>
      </li>

       <li (click)="setView('tasks')"
    [class.active]="activeView === 'tasks'">
  <span class="material-icons">assignment</span>
  <span>Tasks</span>
</li>

      <li (click)="setView('leave')">Leave Management</li>
    </ul>
  </div>

<!-- Overlay-->  
 <div 
    class="overlay" 
    *ngIf="isSidebarOpen" 
    (click)="closeSidebar()">
  </div>

  <div class="main">

<!-- Header-->   
  <div class="header">
      <button class="menu-btn" (click)="toggleSidebar()">☰</button>
      <h2 *ngIf="activeView === 'dashboard'">Dashboard Overview</h2>
      <h2 *ngIf="activeView === 'employees'">Employee Management</h2>
      <h2 *ngIf="activeView === 'projects'">Project Management</h2>
      <h2 *ngIf="activeView === 'tasks'">Task Management</h2>

      <button class="logout-btn" (click)="logout()">Logout</button>
    </div>

<!-- Switching-->

<!-- Dashboard view --> 
    <div *ngIf="activeView === 'dashboard'">
      <div class="cards">
        <div class="card">
          <p><b>Total Employees</b></p>
          <h3>1,240</h3>
        </div>

        <div class="card">
          <p><b>Active Projects</b></p>
          <h3>45</h3>
        </div>

        <div class="card">
          <p><b>Pending Tasks</b></p>
          <h3>128</h3>
        </div>

        <div class="card">
          <p><b>Leave Requests</b></p>
          <h3>12</h3>
        </div>

        <div class="card">
          <p><b>Upcoming Projects</b></p>
          <h3>20</h3>
        </div>

        <div class="card">
          <p><b>Project Completed</b></p>
          <h3>60</h3>
        </div>

        <div class="card">
          <p><b>Project Managers</b></p>
          <h3>25</h3>
        </div>

        <div class="card">
          <p><b>Fresher Projects</b></p>
          <h3>50</h3>
        </div>
      </div>

    </div>
<!-- Employee view -->    
 <div *ngIf="activeView === 'employees'">
      <app-employee-list></app-employee-list>
    </div>

<!-- Projects view -->
<div *ngIf="activeView === 'projects'">
  <app-projects></app-projects>
</div>
<!-- tasks view -->
<div *ngIf="activeView === 'tasks'">
  <app-task-list></app-task-list>
</div>

  </div>
</div>
