<div class="dashboard-container">

  <!-- Sidebar -->
  <div class="sidebar" [class.open]="isSidebarOpen">
    <h2 class="logo">ADMIN USER</h2>

    <ul>
      <li class="active">Dashboard</li>
    <li routerLink="/employees">Employees</li>
      <li>Projects</li>
      <li>Tasks</li>
      <li>Leave Management</li>
    </ul>
  </div>

  <!-- Overlay -->
  <div 
    class="overlay" 
    *ngIf="isSidebarOpen" 
    (click)="closeSidebar()">
  </div>

  <!-- Main Content -->
  <div class="main">

    <!-- Header -->
    <div class="header">
      <button class="menu-btn" (click)="toggleSidebar()">☰</button>
      <h2>Dashboard Overview</h2>
      <button class="logout-btn" (click)="logout()">Logout</button>
    </div>

    <!-- Cards -->
    <div class="cards">
      <div class="card">
        <p><b>Total Employees</b></p>
        <h3>1,240</h3>
      </div>

      <div class="card">
        <p><b>Active Projects</b></p>
        <h3>45</h3>
      </div>

      <div class="card">
        <p><b>Pending Tasks</b></p>
        <h3>128</h3>
      </div>

      <div class="card">
        <p><b>Leave Requests</b></p>
        <h3>12</h3>
      </div>

      <div class="card">
        <p><b>Upcoming Projects</b></p>
        <h3>20</h3>
      </div>

      <div class="card">
        <p><b>Project Completed</b></p>
        <h3>60</h3>
      </div>

      <div class="card">
        <p><b>Project Managers</b></p>
        <h3>25</h3>
      </div>

      <div class="card">
        <p><b>Fresher Projects</b></p>
        <h3>50</h3>
      </div>
    </div>

  </div>
</div>